<footer class="footer">
    <section class="footer__section">
        <h3 class="footer__item">Projeto</h3>
        <p class="footer__item">artigo</p>
        <p class="footer__item">GitHub</p>
    </section>
    <section class="footer__section">
        <div class="footer__line"></div>
    </section>
    <section class="footer__section">
        <h3 class="footer__item">Instituição</h3>
        <p class="footer__item">Instituto Federal Catarinense (IFC)</p>
        <p class="footer__item">ifc@exemplo.com</p>
    </section>            
</footer>