<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tipo de leituras</title>

        
        <link rel="stylesheet" href="../../style/style.css">
        <link rel="stylesheet" href="../../style/reset.css">
        <link rel="stylesheet" href="../../style/footer.css">
        <link rel="stylesheet" href="/view/style/card.css">
        <link rel="stylesheet" href="./typeReading.css">
        <link rel="stylesheet" href="/view/style/user.css">
        <link rel="stylesheet" href="/view/style/register.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script> 
            $(function(){
                $("#componentFooter").load("/view/components/footer.html") 
                $("#componentSidebar").load("/view/components/sidebar.html")
                $("#componentMenu").load("/view/components/header.html")
            });
        </script> 
    </head>
    <body>
        <div id="componentMenu"></div>
        <div id="componentSidebar"></div>
     
        <main>
            <h1>Tipo de leituras</h1>
            <ul class="card" id="card">
            </ul>


            <div class="register__container" id="register">
                <div class="register__section"> 
                    <h1 class="register__tittle">Novo Ambiente</h1>
                    <div class="register__input">
                        <div class="input__container">
                            <h2 class="input__tittle">Nome</h2>
                            <input class="input__area" id="description_input" type="text"  value="" >
                        </div>
                    </div>
                       
                    <div class="register__input" style="display: flex; gap: 2px;">
                        <div class="input__container">
                            <h2 class="input__tittle">Prefixo</h2>
                            <input class="input__area" id="prefix_input" type="text">
                        </div>
                        <div class="input__container">
                            <h2 class="input__tittle">Valor Mínimo</h2>
                            <input class="input__area" id="min_input" type="number">
                        </div>
                        <div class="input__container">
                            <h2 class="input__tittle">Valor Máximo</h2>
                            <input class="input__area" id="max_input" type="number">
                        </div>
                    </div>

                    <div class="register__buttons">
                        <button class="register__button" id="register__button">criar</button>
                        <button class="register__button register__button--cancel" onclick="closeForm()">Cancelar</button>
                    </div>  
                </div>
            </div>
        </main>
        <button class="crud_button" onclick="openForm()">+</button>

        <div id="componentFooter"></div>

        <!-- scripts -->
        <script src="/viewModel/userLogin.js"></script>
        <script src="/viewModel/form.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="../../../viewModel/sideBarFunciton/moveSidebar.js"></script>
        <script type="module" src="./typeReading.js"></script>
        <script src="../../../model/server/api.js"></script>
    </body>
</html>