<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Leitura de Ambientes</title>

        
        <link rel="stylesheet" href="../../style/style.css">
        <link rel="stylesheet" href="../../style/reset.css">
        <link rel="stylesheet" href="../../style/footer.css">
        <link rel="stylesheet" href="place.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script> 
            $(function(){
                $("#componentFooter").load("/view/components/footer.html") 
                $("#componentSidebar").load("/view/components/sidebar.html")
                $("#componentMenu").load("/view/components/header.html")
            });
        </script> 
    </head>

    
    <body>
        <div id="componentMenu"></div>
        <div id="componentSidebar"></div>
     
        <main>
            <h1>Leitura de Ambientes</h1>
            <ul class="place" id="place"></ul>
        </main>
        <div id="componentFooter"></div>

        <!-- scripts -->
       
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script type="module" src="../../../viewModel/chart/chart.js"></script>
        <script type="module" src="./loadCardList.js"></script>
        <script src="../../../viewModel/sideBarFunciton/moveSidebar.js"></script>
    </body>
</html>