h1{
    margin-top: 30px;
    padding: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;

    color: rgba(9, 33, 52, 0.8);

    /* position: relative; */

    align-items: center;
    text-align: center;
}

.menu{
    background-color: #092134;
}

.place {
    margin-top: 60px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.place__section--graph {
    width:80vw;
}


.place__back {
    border-radius: 15px;
    margin: 1px;
    padding: 6px;
    margin-bottom: 10px;
}    


.place__button {
    width: 100px;
    height: 20px;
    
    background: #F0F0F7;
    color: #092134;
    border-radius: 3px;
    box-shadow: none;
    border: none;
}