<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leitura de Ambientes</title>
    <link rel="stylesheet" href="../../style/style.css">
    <link rel="stylesheet" href="../../style/reset.css">
    <link rel="stylesheet" href="../../style/footer.css">
    <link rel="stylesheet" href="place.css">
</head>

<nav class="sidebar" id="sidebar">
    <div class="sidebar__options">
        <a href="./pages/place.html">Ambientes</a>
        <a href="#">Sensores</a>
        <a href="#">Instituições</a>
    </div>
</nav>

<body>
    <header class="menu">
        <div class="menu__section left">
            <img class="menu__icon" id="burgerMenu" src="../../public/icons/burger.svg" alt="burger" onclick="moveSidebar()">
        </div>

        <div class="menu__section right">
            <a class="menu__link" href="../../index.html">sobre</a>
            <a class="menu__link" href="../login/login.html">login</a>
        </div>
    </header>

    <nav class="sidebar" id="sidebar">
        <div class="sidebar__options">
            <a href="#">Ambientes</a>
            <a href="#">Sensores</a>
            <a href="#">Instituições</a>
        </div>
    </nav>

    <main>
        <h1 >Leitura de Ambientes</h1>
        <ul class="place" id="place"></ul>
    </main>
    <footer class="footer">
        <section class="footer__section">
            <h3 class="footer__item">Projeto</h3>
            <p class="footer__item">artigo</p>
            <p class="footer__item">GitHub</p>
        </section>
        <section class="footer__section">
            <div class="footer__line"></div>
        </section>
        <section class="footer__section">
            <h3 class="footer__item">Instituição</h3>
            <p class="footer__item">Instituto Federal Catarinense (IFC)</p>
            <p class="footer__item"> contato: 48 996487855</p>
        </section>            
    </footer>

    <!-- scripts -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="../../../viewModel/createListPlaceChart/chard.js"></script>
    <script type="module" src="../../../viewModel/createListPlaceChart/creatChartCard.js"></script>
    <script type="module" src="../../../viewModel/createListPlaceChart/loadCardList.js"></script>
    <script src="../../../viewModel/sideBarFunciton/moveSidebar.js"></script>
    <script type="module" src="../../viewModel/sideBarFunciton/moveSidebar.js"></script>
</body>
</html>