
.card{
    margin-top: 60px;
    list-style-type: none;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
}

.card__wrapper{
    margin: 1vh 0.5vw;
}

.card__trash{
    color: #a3a3a3;

    margin: auto;
    width: 26px;
    height: 26px;
}

.card__trash--button {
    cursor: pointer;

    position: absolute;
    top: 1.01vh;
    right: 0.8vw;

    width: 21px;
    height: 26px;
    border: none;
    background-color: #fff;
}

.card__section{
    position: relative; 
    
    width: 65vmin;
 
    text-align: center;
    margin: 0 auto 10vh;
    border-radius: 1px;
        
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(0px 4px 4px rgba(167, 94, 94, 0.25));
}


.card__tittle{
    position: relative; 
 
    width: 100%;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: calc(14px + (28 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: 30px;

    /* float: left; */
    color: var(--gray-800);
}

.card__content{
    margin: 2vh 2vh;
}

.card__paragraph{
    font-weight: 600;
    color: var(--gray-500);
}
.card__paragraph--id{
    color: var(--gray-800);
    font-size: calc(14px + (24 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 00;

    position: absolute;

    top: 1.5vh;
    left: 0.8vw;
}
