* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  
  p,
  a,
  input,
  button {
    font-family: Roboto, Aria, sans-serif;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    background-color: #F0F0F7;
  }