<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sensores</title>

        
        <link rel="stylesheet" href="../../style/style.css">
        <link rel="stylesheet" href="../../style/reset.css">
        <link rel="stylesheet" href="../../style/footer.css">
        <link rel="stylesheet" href="/view/style/register.css">
        <link rel="stylesheet" href="./sensor.css">
        <link rel="stylesheet" href="/view/style/card.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script> 
            $(function(){
                $("#componentFooter").load("/view/components/footer.html") 
                $("#componentSidebar").load("/view/components/sidebar.html")
                $("#componentMenu").load("/view/components/header.html")
            });
        </script> 
    </head>
    <body>
        <div id="componentMenu"></div>
        <div id="componentSidebar"></div>

        
        <main>
            <h1>Sensores</h1>
            <div class="register__container" id="register">
                <div class="register__section"> 
                    <h1 class="register__tittle">Novo sensor</h1>
                    <div class="register__"></div>
                    <div class="register__input">
                        <div class="input__container">
                            <h2 class="input__tittle">Nome</h2>
                            <input class="input__area" id="description_input" type="text"  value="" >
                        </div>
                    </div>
                        <div class="register__input">   
                            <div class="input__container">
                                <h2 class="input__tittle">Situação</h2>
                                <!-- <label for="situations">Choose a car:</label> -->
                                <select name="situations" id="situation_input">
                                    <option value="funcional">funcional</option>
                                    <option value="pausado">pausado</option>
                                    <option value="avariado">avariado</option>
                                </select>
                            </div>
                        </div>
                        <div class="register__input">
                            <div class="input__container">
                                <h2 class="input__tittle">Gap de leitura</h2>
                                <input type="number" name="" id="gap_input">
                            </div>
                        </div>
                    <div class="register__buttons">
                        <button class="register__button" id="register__button">criar</button>
                        <button class="register__button register__button--cancel" onclick="closeForm()">Cancelar</button>
                    </div>  
                </div>
            </div>
            <ul class="card"id="card">
            </ul>

            <button class="crud_button" onclick="openForm()">+</button>
        </main>
        <div id="componentFooter"></div>

        <!-- scripts -->
        <script src="/viewModel/form.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="../../../viewModel/sideBarFunciton/moveSidebar.js"></script>
        <script type="module" src="./sensor.js"></script>
        <script type="module" src="../../../model/server/api.js"></script>
    </body>
</html>