<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ambientes</title>

        <link rel="icon" href="/view/public/icons/logo-definitiva.svg">
 
        <link rel="stylesheet" href="../../style/style.css">
        <link rel="stylesheet" href="../../style/reset.css">
        <link rel="stylesheet" href="../../style/footer.css">
        <link rel="stylesheet" href="/view/style/card.css">
        <link rel="stylesheet" href="/view/style/register.css">
        <link rel="stylesheet" href="./infoplaces.css">
        <link rel="stylesheet" href="/view/style/user.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/viewModel/loadContent.js"></script>
    </head>
    <body>
        <div id="componentMenu"></div>
        <div id="componentSidebar"></div>
     
        <main>
            <h1>Ambientes</h1>

            <div class="register__container" id="register">
                <div class="register__section"> 
                    <h1 class="register__tittle">Novo Ambiente</h1>
                    <div class="register__input">
                        <div class="input__container">
                            <h2 class="input__tittle">Nome</h2>
                            <input class="input__area" id="description_input" type="text"  value="" >
                        </div>
                    </div>
                       
                    <div class="register__input">
                        <div class="input__container">
                            <h2 class="input__tittle">Anotações (200 palavras)</h2>
                            <textarea id="note_input" cols="70" rows="5"></textarea>
                        </div>
                    </div>

                    <div class="register__input">
                        <div class="input__container">
                            <h2 class="input__tittle">Material</h2>
                            <input class="input__area" id="material_input" type="text" >
                        </div>
                    </div>
                    <div class="register__input" style="display: flex; gap: 2px;">
                        <div class="input__container">
                            <h2 class="input__tittle">Altura (cm)</h2>
                            <input class="input__area" id="height_input" type="number">
                        </div>
                        <div class="input__container">
                            <h2 class="input__tittle">Largura (cm)</h2>
                            <input class="input__area" id="width_input" type="number">
                        </div>
                        <div class="input__container">
                            <h2 class="input__tittle">comprimento (cm)</h2>
                            <input class="input__area" id="length_input" type="number">
                        </div>
                    </div>

                    <div class="register__buttons">
                        <button class="register__button" id="register__button">criar</button>
                        <button class="register__button register__button--cancel" onclick="closeForm()">Cancelar</button>
                    </div>  
                </div>
            </div>


            <ul class="card" id="place__ul">
            </ul>
        </main>
        <button class="crud_button" onclick="openForm()">+</button>
        <div id="componentFooter"></div>

        <!-- scripts -->
        <script src="/viewModel/userLogin.js"></script>
        <script src="/viewModel/form.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="../../../viewModel/sideBarFunciton/moveSidebar.js"></script>
        <script type="module" src="./infoPlaces.js"></script>
        <script src="../../../model/server/api.js"></script>
    </body>
</html>