.menu{
    background-color: #092134;
}

.place__list{
    margin-bottom: 60px;
    width: 40vw;

}

.place__informations {
    display: flex;
    justify-content: space-between;

   padding: 1rem 1rem; 
}

