.menu{
    background-color: #092134;
}

.place {
    margin-top: 155px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.place__list {
    position: relative; 
    height: minmax(80vh, 500px );
    width:80vw;
   
    
    text-align: center;
    margin: 0 auto 90px;
    border-radius: 1px;
        
    background-color: rgb(255, 255, 255);
}

.place__name {
    position: relative; 

    width: 100%;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.3vw;
    line-height: 30px;

    color: #9C9C9C;
}



.place__back {
    border-radius: 15px;
    margin: 1px;
    margin-bottom: 60px;
}    