<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="icon" href="/view/public/icons/logo-definitiva.svg">
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="./style/reset.css">
    <link rel="stylesheet" href="./style/footer.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/viewModel/loadContent.js"></script>
    
</head>
<body>
    <div id="componentMenu"></div>
    <div id="componentSidebar"></div>
    
    <main class="content" id="content">
        <div class="content__hereo">
            <div class="content__brand">
                <img class="content__logo" src="/view/public/icons/logo-definitiva.svg" alt="logo.svg">
                <h1 class="content__tittle">Aplemble: Sensoriamento de ambientes</h1>
            </div>
            <article class="content__article"> 
                <!-- <p class="content__paragraph">Este projeto surgiu a partir de um TCC do Instituto Federal Catarinense (IFC). O projeto tem como objetivo medir e armazenar qualquer dado sensorial de um ambiente e disponibilizá-lo para seu uso. No momento, o projeto tem a capacidade de analisar e controlar ambientes e sensores diverso.</p> -->
            </article>
        </div>
        
        <section class= "section">
            <h2 class="section__subtittle">Principais Técnologia</h2>
            <section class="section__conteiner">
                <img class="section__tecnologes item" src="./public/icons/nodejs.svg" alt="nodejs logo">
                <img class="section__tecnologes item" src="./public/icons/express-js-seeklogo.com.svg" alt="nodejs logo">
                <img class="section__tecnologes arduino" src="./public/icons/arduino-seeklogo.com.svg" alt="nodejs logo">
                <img class="section__tecnologes item" src="./public/icons/MySQL-Logo.wine.svg" alt="nodejs logo">
            </section>

        </section>
        <article class="section__description">
            <p class="content__paragraph black">Aplicou-se o arduino no monitoramento de dados a partir de sensores acoplados a ele, o arduino envia tais dados para A AplembleAPI. A extração desses dados do servidor é dada por uma API em nodeJs com express, que extrai e trata estes dados, disponibilzando em rotas http para qualquer interface  consumir.</p>
        </article>
    </main>
    <div id="componentFooter"></div>
  
    <script src="../viewModel/sideBarFunciton/moveSidebar.js"></script>
</body>
</html>
